<h2 class="text-center">La carte </h2>
<div class="container text-center pad" id='index_page'>
  <% @cocktails.each_slice(3) do |cocktails| %>
  <div class="row">
    <% cocktails.each do |cocktail| %>
    <% if cocktail.photo? %>
    <div class="col-xs-12 col-md-4">
      <div class="card">
        <%= link_to cl_image_tag(cocktail.photo.path, width: 300, height: 200, crop: :fill), cocktail_path(cocktail) %>
        <div class="card-description"><h2><%=cocktail.name%></h2></div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <% end %>
</div>
