<div class="container pad">
<h2>Créer un nouveau Cocktail</h2>
<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name, placeholder: 'Mojito'%>
  <%= f.input :photo, as: :attachinary %>
  <%= f.submit 'Créer ton cocktail' %>
<% end %>
</div>
