<div class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <i class="fa fa-glass fa-2x navbar-brand" aria-hidden="true"></i>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Home</a></li>
      <li> <a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</div>

