<div class="navbar-wagon" >
    <a href="" class="navbar-wagon-item navbar-wagon-link text-right">Contact</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link text-right">Team</a>
    <%= link_to 'Propose ton cocktail', new_cocktail_path, class: 'btn btn-primary' %>
  </div>
</div>
